extends ./layouts/header.pug 
block title
    title Trang chủ
block content
    div(style="margin: 10px 0 0 10px;")
        h1 #{chude} 
        a(href="/users" style="text-decoration: none;").btn.btn-primary Users List 